# Pycharm
.idea

# Virtual environment
venv

# Sample data directory/files
raw
*.npy

# Cache
__pycache__

# Output files
*.onnx
*.tflite
inference/**/model
inference/**/*.json
saved/**/model
saved/**/*.json
saved/**/*.log
*.params

# WandB
wandb